In [1]:
a = 1
a

1

In [2]:
a = 'apple'
a

'apple'

In [3]:
print(a)

apple

In [4]:
1 + 2

3

In [5]:
"1 + 2"

'1 + 2'

In [6]:
'I am Tom.'

'I am Tom.'

In [8]:
a = 1 # 이것은 a 이다
#a = 100
print(a)

1

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
a = 1
print(a)

1

In [12]:
a = 1
print(a, end='abc')

1abc

In [13]:
1

1

In [14]:
1.

1.0

In [15]:
1 + 1

2

In [16]:
1 + 1.

2.0

In [17]:
2**10

1024

In [18]:
2**100

1267650600228229401496703205376

In [21]:
# root 2
2**0.5

1.4142135623730951

In [22]:
2**(1/2)

1.4142135623730951

In [19]:
73//7

10

In [20]:
73% 7

3

In [23]:
5 / 2

2.5

In [24]:
4/2

2.0

In [26]:
1+2 + 3+      4   + 5 \
+ 6 +7 + 8 + 9 +10

55

In [27]:
type(1)

int

In [28]:
type(1.)

float

In [29]:
type('I am Jane.') # string

str

In [30]:
int(3.14)

3

In [31]:
float(3)

3.0

In [32]:
str(1)

'1'

In [33]:
a = '10'
pi = '3.14'

In [34]:
int(a) * float(pi)

31.400000000000002

In [37]:
'I\'m Tom'

"I'm Tom"

In [36]:
"I'm Tom"

"I'm Tom"

In [40]:
"I'm Tom.\nYou are Jane."

"I'm Tom.\nYou are Jane."

In [41]:
print("I'm Tom.\nYou are Jane.")

I'm Tom.
You are Jane.

In [43]:
s = """I'm Tom.
You are Jane."""

In [44]:
print(s)

I'm Tom.
You are Jane.

In [46]:
"""a = 1
b = 2
c = 3"""
d = 5

In [47]:
이름 = '홍길동'
이름

'홍길동'

In [48]:
이름 = ''
이름

''

In [50]:
'1'*1 + '2'*2 + '3'*3 + '4'*4 + '5'*5

'122333444455555'

In [51]:
'*'*100

'****************************************************************************************************'

In [53]:
'홍길동'+str(3)

'홍길동3'

In [55]:
s = 'I am Tom.'
s[:-1]

'I am Tom'

In [57]:
s2 = s[:]
s2

'I am Tom.'

In [60]:
line = '     4.7,3.2,1.3,0.2,Iris-setosa\t\n'
line.strip()

'4.7,3.2,1.3,0.2,Iris-setosa'

In [62]:
line = '     4.7,3.2,1.3,0.2,Iris-setosa\t\n'
line.strip().split(',')

['4.7', '3.2', '1.3', '0.2', 'Iris-setosa']

In [65]:
help(line.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [68]:
l = ['홍길동', 22, '서울', 167.3, 77]
l

['홍길동', 22, '서울', 167.3, 77]

In [69]:
l = [['홍길동', 22, '서울', 167.3, 77],
     ['장길산', 33, '원주', 177.1, 93]]
l

[['홍길동', 22, '서울', 167.3, 77], ['장길산', 33, '원주', 177.1, 93]]

In [71]:
l[0]

['홍길동', 22, '서울', 167.3, 77]

In [72]:
(l[0])[0]

'홍길동'

In [73]:
l[0][0]

'홍길동'

In [76]:
l[0][3:]

[167.3, 77]

In [77]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [78]:
[1,2,3] + [ ]

[1, 2, 3]

In [81]:
l = [1,2,3]
l + [4]

[1, 2, 3, 4]

In [82]:
l.append(4)

In [83]:
l

[1, 2, 3, 4]

In [84]:
data = [[1,2], [3,4], [5,6]]
data

[[1, 2], [3, 4], [5, 6]]

In [85]:
data + [7,8]

[[1, 2], [3, 4], [5, 6], 7, 8]

In [86]:
data + [[7,8]]

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [87]:
data.append([7,8])

In [88]:
data

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [89]:
사람들 = [['홍', 22, '서울']]
사람들

[['홍', 22, '서울']]

In [90]:
사람들.append(['장', 33, '대전'])

In [91]:
사람들

[['홍', 22, '서울'], ['장', 33, '대전']]

In [92]:
help(data.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [93]:
help(data.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [94]:
l = [3,4,1,2,5]
l

[3, 4, 1, 2, 5]

In [95]:
l.sort()

In [96]:
l

[1, 2, 3, 4, 5]

In [97]:
l = [3,4,1,2,5]
l

[3, 4, 1, 2, 5]

In [98]:
sorted(l)

[1, 2, 3, 4, 5]

In [99]:
l

[3, 4, 1, 2, 5]

In [100]:
t = (1,2,3)
t

(1, 2, 3)

In [101]:
type(t)

tuple

In [103]:
(1,2,3) + (4,)

(1, 2, 3, 4)

4

In [107]:
l = ['홍길동', 22, 167.5]
columns = ['이름', '나이', '키']
l

['홍길동', 22, 167.5]

In [108]:
l[1]

22

In [106]:
d = {'이름': '홍길동', '나이': 22, '키': 167.5}
d

{'이름': '홍길동', '나이': 22, '키': 167.5}

In [109]:
d['나이']

22

In [110]:
l = [0,0,0,0,0]
board = [l, l, l, l, l]
board

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [111]:
board[0][0] = 1
board

[[1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0]]

In [112]:
t = (1,2)
t

(1, 2)

In [113]:
t = 1,2
t

(1, 2)

In [114]:
a, (b,c) = [1,[2,3]]

In [115]:
a

1

In [116]:
b

2

In [117]:
c

3

In [118]:
data = [ [j for j in range(i)] for i in range(5)]

In [119]:
data

[[], [0], [0, 1], [0, 1, 2], [0, 1, 2, 3]]